body {
    background-color: black;    
}

img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    /*height: auto;*/
    height: 100%;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index: -10;
}

h1, h2, h3, p, li {
    color: white;    
}

p {
    z-index: -10;
}
